[flake8]
max-line-length = 88
exclude =
    *.egg-info,
    *.pyc,
    .git,
    .venv*,
    build,
    docs/*,
    dist,
    docker,
    venv*,
    .venv*,
    whitelist.py,
    tasks.py
ignore =
    E126
    E203
    E231
    E701
    E704
    F405
    N801
    N802
    N803
    N806
    N815
    W503
