[flake8]
max-line-length = 88
exclude =
    *.egg-info,
    *.pyc,
    .git,
    .tox,
    .venv*,
    build,
    docs/*,
    dist,
    docker,
    venv*,
    .venv*,
    whitelist.py,
    tasks.py
ignore =
    F405
    W503
    E203
    E126