*.pyc
redis.egg-info
build/
dist/
dump.rdb
_build
vagrant/.vagrant
.python-version
.cache
.eggs
.idea
.coverage
env
venv
coverage.xml
.venv*
*.xml
.coverage*
prof
profile_output*
docker/stunnel/keys
/dockers/*/node-*/*
/dockers/*/tls/*
/dockers/standalone/
/dockers/cluster/
/dockers/replica/
/dockers/sentinel/
/dockers/redis-stack/
