build
build==1.2.2.post1 ; platform_python_implementation == "PyPy" or python_version < "3.10"
click==8.0.4
invoke==2.2.0
mock
mock==5.1.0 ; platform_python_implementation == "PyPy" or python_version < "3.10"
packaging>=20.4
packaging==24.2 ; platform_python_implementation == "PyPy" or python_version < "3.10"

pytest
pytest==8.3.4 ; platform_python_implementation == "PyPy" or python_version < "3.10"
pytest-asyncio>=0.23.0
pytest-asyncio==1.1.0 ; platform_python_implementation == "PyPy" or python_version < "3.10"
pytest-cov
pytest-cov==6.0.0 ; platform_python_implementation == "PyPy" or python_version < "3.10"
coverage==7.6.12 ; platform_python_implementation == "PyPy" or python_version < "3.10"
pytest-profiling==1.8.1
pytest-timeout
pytest-timeout==2.3.1 ; platform_python_implementation == "PyPy" or python_version < "3.10"

ruff==0.9.6
ujson>=4.2.0
uvloop<=0.21.0; platform_python_implementation == "CPython"
vulture>=2.3.0

numpy>=1.24.0 ; platform_python_implementation == "CPython"
numpy>=1.24.0,<2.0 ; platform_python_implementation == "PyPy" or python_version < "3.10"

redis-entraid==1.0.0
pybreaker>=1.4.0
