build
build==1.2.2.post1 ; platform_python_implementation == "PyPy"
click==8.0.4
invoke==2.2.0
packaging>=20.4
packaging==24.2 ; platform_python_implementation == "PyPy"

pytest
pytest==8.3.4 ; platform_python_implementation == "PyPy"
pytest-asyncio>=0.23.0
pytest-asyncio==1.1.0 ; platform_python_implementation == "PyPy"
pytest-cov
coverage<7.11.1
pytest-cov==6.0.0 ; platform_python_implementation == "PyPy"
coverage==7.6.12 ; platform_python_implementation == "PyPy"
pytest-profiling==1.8.1
pytest-timeout
pytest-timeout==2.3.1 ; platform_python_implementation == "PyPy"

ruff==0.9.6
ujson>=4.2.0
uvloop<=0.21.0; platform_python_implementation == "CPython" and python_version < "3.14"
uvloop>=0.22; platform_python_implementation == "CPython" and python_version >= "3.14"
vulture>=2.3.0

numpy>=1.24.0 ; platform_python_implementation == "CPython"
numpy>=1.24.0,<2.0 ; platform_python_implementation == "PyPy"

redis-entraid==1.0.0
pybreaker>=1.4.0
