name: Publish tag to Pypi

on:
  release:
    types: [published]

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:

  build_and_package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dev tools
        run: |
          pip install -r dev_requirements.txt
          pip install twine wheel

      - name: Build package
        run: |
          python setup.py build
          python setup.py sdist bdist_wheel

      - name: Publish to Pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
