name: Update CHANGES File
on:
  pull_request:
    types: [opened]
    branches:
      - master
jobs:
  update-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
          
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.6
          
      - name: Update CHANGES file
        if: "!contains(steps.changed-files.outputs.all_changed_files, 'CHANGES')" 
        run: |
          echo "${{ github.event.pull_request.title }}"
          echo "* ${{ github.event.pull_request.title }} (#${{ github.event.pull_request.number }}). Thanks @${{ github.actor }}" > CHANGES2
          cat CHANGES >> CHANGES2
          mv CHANGES2 CHANGES
      - name: Commit & Push changes
        if: "!contains(steps.changed-files.outputs.all_changed_files, 'CHANGES')"
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
          message: "Update CHANGES file"
